<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>script run history</title>
<!--    <style>-->
<!--        table, th, td {-->
<!--          border: 1px solid black;-->
<!--        }-->
<!--    </style>-->
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">

    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</head>
<body>
<a th:href="'/'" th:text="back"></a>

<div>
    <p>script Id: <span th:text="${script.id}"/> ,filename: <span th:text="${script.filename}"/></p>
</div>
<div>
    <table class="table .table-bordered table-hover w-50">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>startTime</th>
            <th>endTime</th>
            <th>action</th>
        </tr>

        <tr th:each="runHistory : ${runHistories}">
            <td>
                <div th:text="${runHistory.id}"/></td>
            <td>
                <div th:text="${runHistory.filename}"/></td>
            </td>
            <td><div th:text="${runHistory.startTime}"/></td>
            <td><div th:text="${runHistory.endTime}"/></td>
            <td><a th:href="'/report/download/' + ${runHistory.id}" th:text="download"></a></td>

        </tr>
    </table>
</div>
</body>
</html>